fastapi
uvicorn[standard]
pydantic
pydantic-settings
torch
transformers
scikit-learn
numpy
python-multipart
requests
regex
redis
sentence-transformers
keybert
openai
python-dotenv
sentencepiece
tiktoken
protobuf
httpx